.runners:
  tags:
    - macosx-xcode
  before_script:
    - xcodebuild -version
    - xcodebuild -showsdks
    - gem install fastlane
    - |
      if [ -n "$VAR_APPLE_API_KEY" ]; then
        mkdir -p ~/.appstoreconnect
        echo "$VAR_APPLE_API_KEY" | base64 -d > ~/.appstoreconnect/AuthKey.p8
        chmod 600 ~/.appstoreconnect/AuthKey.p8
        export APPLE_API_KEY_PATH="$HOME/.appstoreconnect/AuthKey.p8"
      fi

variables:
  HOMEBREW_NO_AUTO_UPDATE: 1
  LC_ALL: "en_US.UTF-8"
  LANG: "en_US.UTF-8"
  TEAM_ID: "${VAR_TEAM_ID}"
  APPLE_API_KEY_ID: "${VAR_APPLE_API_KEY_ID}"
  APPLE_API_ISSUER_ID: "${VAR_APPLE_API_KEY_ISSUER_ID}"
  MATCH_GIT_URL: "https://gitlab-ci-token:${CI_JOB_TOKEN}@${VAR_MATCH_GIT_URL}"
  MATCH_PASSWORD: "${VAR_MATCH_PASSWORD}"

stages:
  - debug
  - prod
  - upload

build-debug:
  extends:
    - .runners
  stage: debug
  script:
    - fastlane ios build_debug
  artifacts:
    paths:
      - build/
    when: always
    expire_in: 1 day
  when: manual

build-prod:
  extends:
    - .runners
  stage: prod
  script:
    - fastlane ios build_prod
  artifacts:
    paths:
      - build/
    when: always
    expire_in: never
  only:
    - tags

upload-testflight:
  extends:
    - .runners
  stage: upload
  script:
    - fastlane ios upload_testflight
  dependencies:
    - build-prod
  only:
    - tags
  when: manual
