.runners:
  tags:
    - macosx-xcode
  before_script:
    - xcodebuild -version
    - xcodebuild -showsdks
    - bundle -v || gem install bundler
    - bundle config set path vendor/bundle
    - bundle install --jobs 4 --retry 3

variables:
  archive_scheme: Linphone
  archive_path: Linphone.xcarchive
  export_path: Linphone-appstore-ipa
  export_options_plist: Linphone-appstore.plist
  HOMEBREW_NO_AUTO_UPDATE: 1
  LC_ALL: "en_US.UTF-8"
  LANG: "en_US.UTF-8"
  APPLE_ID: "${VAR_APPLE_ID}"
  TEAM_ID: "${VAR_TEAM_ID}"
  MATCH_GIT_URL: "https://gitlab-ci-token:${CI_JOB_TOKEN}@${VAR_MATCH_GIT_URL}"
  MATCH_PASSWORD: "${VAR_MATCH_PASSWORD}"

stages:
  - debug
  - prod

cache:
  key:
    files:
      - Gemfile.lock
  paths:
    - vendor/bundle

build-debug:
  extends:
    - .runners
  stage: debug
  script:
    - bundle exec fastlane match_development
    - xcodebuild build -scheme $archive_scheme -project ./LinphoneApp.xcodeproj -UseModernBuildSystem=YES -destination 'generic/platform=iOS' -configuration Debug -verbose DEVELOPMENT_TEAM=$TEAM_ID
  artifacts:
    paths:
      - derivedData/Logs
    when: always
    expire_in: 1 day
  when: manual

build-prod:
  extends:
    - .runners
  stage: prod
  script:
    - sed -i '' "s/Z2V957B3D6/${TEAM_ID}/g" ./Linphone-appstore.plist
    - bundle exec fastlane match_appstore
    - xcodebuild archive -scheme $archive_scheme -archivePath ./$archive_path -configuration Release -project ./LinphoneApp.xcodeproj -UseModernBuildSystem=YES -destination 'generic/platform=iOS' -verbose DEVELOPMENT_TEAM=$TEAM_ID
    - xcodebuild -exportArchive -archivePath ./$archive_path -exportPath ./$export_path -exportOptionsPlist ./$export_options_plist -UseModernBuildSystem=YES -destination 'generic/platform=iOS'
  artifacts:
    paths:
      - $archive_path
      - $export_path
    when: always
    expire_in: never
  only:
    - tags
