.runners:
  tags:
    - macosx-xcode
  before_script:
    - xcodebuild -version
    - xcodebuild -showsdks
    - gem install fastlane -V

variables:
  archive_scheme: Linphone
  archive_path: Linphone.xcarchive
  export_path: Linphone-adhoc-ipa
  export_options_plist: Linphone-adhoc.plist
  HOMEBREW_NO_AUTO_UPDATE: 1
  APPLE_ID: "${VAR_APPLE_ID}"
  TEAM_ID: "${VAR_TEAM_ID}"
  MATCH_GIT_URL: "https://oauth2:${CI_JOB_TOKEN}@${VAR_MATCH_GIT_URL}"
  MATCH_PASSWORD: "${VAR_MATCH_PASSWORD}"

stages:
  - debug
  - prod

build-debug:
  extends:
    - .runners
  stage: debug
  script:
    - fastlane match development --readonly
    - xcodebuild build -scheme $archive_scheme -project ./LinphoneApp.xcodeproj -UseModernBuildSystem=YES -destination 'generic/platform=iOS' -configuration Debug -verbose
  artifacts:
    paths:
      - derivedData/Logs
    when: always
    expire_in: 1 day
  when: manual

build-prod:
  extends:
    - .runners
  stage: prod
  script:
    - sed -i '' "s/Z2V957B3D6/${TEAM_ID}/g" ./Linphone-adhoc.plist
    - fastlane match appstore --readonly
    - xcodebuild archive -scheme $archive_scheme -archivePath ./$archive_path -configuration Release -project ./LinphoneApp.xcodeproj -UseModernBuildSystem=YES -destination 'generic/platform=iOS' -verbose
    - xcodebuild -exportArchive -archivePath ./$archive_path -exportPath ./$export_path -exportOptionsPlist ./$export_options_plist -allowProvisioningUpdates -UseModernBuildSystem=YES -destination 'generic/platform=iOS'
  artifacts:
    paths:
      - $archive_path
      - $export_path
    when: always
    expire_in: never
  only:
    - tags
