# https://docs.gitlab.com/ci/runners/hosted_runners/macos/

.runners:
  tags:
    - majs-macbook-runner
  before_script:
    - xcodebuild -version
    - xcodebuild -showsdks

variables:
  archive_scheme: Linphone
  archive_path: Linphone.xcarchive
  export_path: Linphone-adhoc-ipa
  export_options_plist: Linphone-adhoc.plist
  HOMEBREW_NO_AUTO_UPDATE: 1
  APPLE_ID: "${VAR_APPLE_ID}"
  APPLE_ID_PASSWORD: "${VAR_APPLE_ID_PASSWORD}"
  TEAM_ID: "${VAR_TEAM_ID}"
  MATCH_PASSWORD: "${VAR_MATCH_PASSWORD}"
  MATCH_GIT_URL: "${VAR_MATCH_GIT_URL}"

stages:
  - debug
  - test
  - prod

build-debug:
  extends:
    - .runners
  stage: debug
  script:
    - xcodebuild build -scheme $archive_scheme -workspace ./Linphone.xcworkspace -UseModernBuildSystem=YES -destination 'generic/platform=iOS' -configuration Debug
  artifacts:
    paths:
      - derivedData/Logs
    when: always
    expire_in: 1 day

test-ios:
  extends:
    - .runners
  stage: test
  dependencies:
    - build-debug
  script:
    - xcodebuild test -workspace Linphone.xcworkspace -scheme Linphone -sdk iphonesimulator -destination "platform=iOS Simulator,name=iPhone" -UseModernBuildSystem=YES

build-prod:
  extends:
    - .runners
  stage: prod
  dependencies:
    - test-ios
  script:
    - xcodebuild archive -scheme $archive_scheme -archivePath ./$archive_path -configuration Release -workspace ./Linphone.xcworkspace -UseModernBuildSystem=YES -destination 'generic/platform=iOS'
    - xcodebuild -exportArchive -archivePath ./$archive_path -exportPath ./$export_path -exportOptionsPlist ./$export_options_plist -allowProvisioningUpdates -UseModernBuildSystem=YES -destination 'generic/platform=iOS'
  artifacts:
    paths:
      - $archive_path
      - $export_path
    when: always
    expire_in: never
  only:
    - tags
