.runners:
  tags:
    - macosx-xcode
  before_script:
    - xcodebuild -version
    - xcodebuild -showsdks
    - gem install fastlane

variables:
  archive_scheme: Linphone
  archive_path: Linphone.xcarchive
  export_path: Linphone-appstore-ipa
  export_options_plist: Linphone-appstore.plist
  HOMEBREW_NO_AUTO_UPDATE: 1
  LC_ALL: "en_US.UTF-8"
  LANG: "en_US.UTF-8"
  APPLE_ID: "${VAR_APPLE_ID}"
  APPLE_ID_PASSWORD: "${VAR_APPLE_ID_PASSWORD}"
  TEAM_ID: "${VAR_TEAM_ID}"
  MATCH_GIT_URL: "https://gitlab-ci-token:${CI_JOB_TOKEN}@${VAR_MATCH_GIT_URL}"
  MATCH_PASSWORD: "${VAR_MATCH_PASSWORD}"

stages:
  - debug
  - prod

build-debug:
  extends:
    - .runners
  stage: debug
  script:
    - fastlane ios match_development
    - xcodebuild build -scheme $archive_scheme -project ./LinphoneApp.xcodeproj -allowProvisioningUpdates -UseModernBuildSystem=YES -destination 'generic/platform=iOS' -configuration Debug -verbose -username $APPLE_ID -password $APPLE_ID_PASSWORD DEVELOPMENT_TEAM=$TEAM_ID
  artifacts:
    paths:
      - derivedData/Logs
    when: always
    expire_in: 1 day

build-prod:
  extends:
    - .runners
  stage: prod
  script:
    - sed -i '' "s/Z2V957B3D6/${TEAM_ID}/g" ./Linphone-appstore.plist
    - fastlane ios match_appstore
    - xcodebuild archive -scheme $archive_scheme -archivePath ./$archive_path -configuration Release -project ./LinphoneApp.xcodeproj -allowProvisioningUpdates -UseModernBuildSystem=YES -destination 'generic/platform=iOS' -verbose -username $APPLE_ID -password $APPLE_ID_PASSWORD DEVELOPMENT_TEAM=$TEAM_ID
    - xcodebuild -exportArchive -archivePath ./$archive_path -exportPath ./$export_path -exportOptionsPlist ./$export_options_plist -UseModernBuildSystem=YES -destination 'generic/platform=iOS'
  artifacts:
    paths:
      - $archive_path
      - $export_path
    when: always
    expire_in: never
  only:
    - tags
