<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INStartCallIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Truca a Joan amb ${ApplicationName}</string>
				<string>Fes una trucada a Maria amb ${ApplicationName}</string>
				<string>Inicia una videotrucada amb Miquel a ${ApplicationName}</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
