<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INStartCallIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Bel Jan met ${ApplicationName}</string>
				<string>Maak een oproep naar Maria met ${ApplicationName}</string>
				<string>Start een videogesprek met Michiel op ${ApplicationName}</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
